@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-display: swap;
  font-family: ClashGrotesk;
  font-weight: 400;
  src: url(/font/ClashGrotesk-Regular.ttf) format('opentype');
}

/* You can add global styles to this file, and also import other style files */
:root {
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vdh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: all ease 0.2s;

  &:hover {
    transform: translateY(-1px);
  }
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.multi-section-container {
  background-image: url('/img/background.png');
  background-size: cover;
}

.main-button {
  background-color: #166ac5;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  width: fit-content;

  &:hover {
    box-shadow: 0 2px 3px 1px #166ac580;
  }
}
