---
import '../styles/global.scss';
import '../styles/layout/navbar.scss';
import '../styles/home/about-us.scss';
import '../styles/home/banner.scss';
import '../styles/home/contact.scss';
import '../styles/home/highlighted-events.scss';
import '../styles/home/join-the-team.scss';
import '../styles/home/organizers.scss';

import { NavbarComponent } from '../components/layout/navbar/navbar.component';
import { AboutUsComponent } from '../components/home/about-us/about-us.component';
import { BannerComponent } from '../components/home/banner/banner.component';
import { ContactComponent } from '../components/home/contact/contact.component';
import { HighlightedEventsComponent } from '../components/home/highlighted-events/highlighted-events.component';
import { JoinTheTeamComponent } from '../components/home/join-the-team/join-the-team.component';
import { OrganizersComponent } from '../components/home/organizers/organizers.component';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <title>Angular Bolivia</title>
    <base href="/" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Comunidad de desarrolladores Angular en Bolivia."
    />
    <meta name="keywords" content="angular, bolivia, angular bolivia" />
    <meta name="og:title" content="Angular Bolivia" />
    <meta name="og:image" content="img/meta-icon.jpeg" />
    <meta name="og:site_name" content="Angular Bolivia" />
    <meta
      name="og:description"
      content="Comunidad de desarrolladores Angular en Bolivia."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico?v=1.0.1" />
  </head>
  <body>
    <NavbarComponent />
    <BannerComponent />
    <div class="multi-section-container">
      <HighlightedEventsComponent />
      <AboutUsComponent />
    </div>
    <OrganizersComponent />
    <JoinTheTeamComponent />
    <ContactComponent />
  </body>
</html>
