.about-us {
  padding: 64px 0;

  .about-us__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;

    .about-us__block {
      align-items: center;
      display: flex;
      flex-direction: column;

      h2 {
        color: var(--color-heading);
        margin-block-end: 24px;
      }

      a {
        color: var(--color-link);

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        border-radius: 4px;
        margin-top: 42px;
        max-width: 646px;
        width: 100%;
      }
    }
  }
}
