.contact {
  background-color: #166ac5;
  padding: 64px 0;

  .contact__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    h2 {
      font-size: 24px;
    }

    .contact__email {
      display: flex;
      gap: 4px;

      img {
        display: inline;
      }
    }
  }
}
