.organizers {
  background-color: var(--color-surface);
  padding: 64px 0;

  .organizers__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;

    h2 {
      color: var(--color-heading);
    }

    .organizers__profiles {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      .organizers__profile {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 5px;

        .organizers__name {
          color: var(--color-link);
          font-size: var(--text-lg);
          font-weight: 500;
          margin-block-start: 16px;
        }

        a {
          display: block;
          padding: 8px;
          width: fit-content;
        }
      }
    }
  }
}
