/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
  font-family: ClashGrotesk;
  src: url(/font/ClashGrotesk-Regular.ttf) format("opentype");
}

/* You can add global styles to this file, and also import other style files */
:root {
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.main-button {
  background-color: #166ac5;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  width: fit-content;
}
